/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Nanum Gothic', sans-serif;
  background: linear-gradient(#c69aec, #9ef8d1);
}
  
a {
  color: #770e54;
  text-decoration: none;
}

a:hover {
  color: #ef4de7e5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Nanum Gothic', sans-serif;
}

*{
  margin: 0;
}

.margin-top-custom {
  margin-top: 15vh;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar-brand-custom{
  font-size: 2.25em;
  color:#d85ac3ee;
  font-family: 'Comfortaa', cursive;
  font-family: 'Quicksand', sans-serif;
}

.navbar-light .nav-item .signin{
  background: #f56fd8;
  color: #fff;
  border-radius: 50em;
}

.navbar-light .nav-item .signin:hover {
  color: #fff;
  background: #f54dd1;
}

.navbar-light .nav-item .signup{
  background: #ad5e98;
  color: #fff;
  border-radius: 50em;
}

.navbar-light .nav-item .signup:hover {
  color: #fff;
  background: #aa719b;
}

.navbar-shadow{
  box-shadow: 0vh 0vh 2vh rgba(0, 0, 0, 0.5);
}

.navbar-light .nav-item .signin{
  background: linear-gradient(45deg, #5fdfa7, #24a06a);
  color: rgb(0,0,0);
  border-radius: 50em;
}

.navbar-light .nav-item .signin:hover {
  color: rgb(0,0,0);
  background: linear-gradient(45deg, #3cdd97, #0c9e5f);
}

.navbar-light .nav-item .signup{
  background: linear-gradient(45deg, #c69aec, #9e4ee4);
  color: rgb(0,0,0);
  border-radius: 50em;
}

.navbar-light .nav-item .signup:hover {
  color: rgb(0,0,0);
  background: linear-gradient(45deg, #c6a4e4, #aa67e4);
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar{
  background: linear-gradient(#9ef8d1, #c69aec);
  border: 2px solid white;
}

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.sidebar li {
  padding-left: 15px;
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
  top: 15vh;
}

@media (max-width: 991px) {
  .card-img-custom{
    align-self: center;
  }
}

/*--------------------------------------------------------------
# Text area
--------------------------------------------------------------*/
#text-area{
  background: rgba(255,255,255,0.5);
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  border-top: 2px solid white;
  background: linear-gradient(#9ef8d1, #c69aec);
}

.background {
  background: rgba(255,255,255,0.3);
}


/*--------------------------------------------------------------
# Text Area
--------------------------------------------------------------*/

.indent-1{
  margin-left: 3%;
}

.indent-2{
  margin-left: 6%;
}

.indent-3{
  margin-left: 9%;
}

p span{
  font-weight: bold;
}




/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  padding-top: 13px;
  padding-bottom: 13px;
  background: linear-gradient(45deg, #c69aec, #9ef8d1);
}


.radius {
  border-radius: 20px;
}