/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  color: #eb5d1e;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

*{
  margin: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 10vh;
  background: #fff;
  box-shadow: 0vh 0vh 2vh rgba(0, 0, 0, 0.1);
}

#logo h1 {
  line-height: 1;
  font-weight: 400;
}

#logo h1 a, #logo h1 a:hover {
  color: #7a6960;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
#navbar a {
  color: #793d20;
}

#navbar a:hover, #navbar .active, li:hover > a {
  color: #eb991e;
}

#navbar .signup {
  background: #7e716b;
  color: #fff;
  padding: 0.5em 0.75em;
  border-radius: 50em;
  margin: 0em 0.25em 0em 0.5em;
}

#navbar .signup:hover {
  color: #fff;
  background: #49423f;
}

#navbar .signin {
  background: #ee7843;
  color: #fff;
  padding: 0.5em 0.75em;
  border-radius: 50em;
  margin: 0em 0.5em 0em 0.25em;
}

#navbar .signin:hover {
  color: #fff;
  background: #c25c2d;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  margin-top: 10vh;
  height: 70vh;
  background: #f6fef5;
}

.hero-img{
  height:70vh;
}
