/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #212529;
}

a {
  color: #770e54;
  text-decoration: none;
}

a:hover {
  color: #ef4de7e5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Nanum Gothic', sans-serif;
}

*{
  margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar-brand-custom{
  font-size: 2.25em;
  color:#d85ac3ee;
  font-family: 'Comfortaa', cursive;
  font-family: 'Quicksand', sans-serif;
}

.navbar-light .nav-item .signin{
  background: #f56fd8;
  color: #fff;
  border-radius: 50em;
}

.navbar-light .nav-item .signin:hover {
  color: #fff;
  background: #f54dd1;
}

.navbar-light .nav-item .signup{
  background: #ad5e98;
  color: #fff;
  border-radius: 50em;
}

.navbar-light .nav-item .signup:hover {
  color: #fff;
  background: #aa719b;
}

.navbar-shadow{
  box-shadow: 0vh 0vh 2vh rgba(0, 0, 0, 0.5);
}
/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/
section{
  height: 70vh;
}

#hero, #learn{
  background: #f5e6f3;
}

#play, #about_us{
  background: #dd6ecc;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  margin-top: 9vh;
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-height: 600px) {
  #hero {
    height: calc(120vh);
  }
}

/*--------------------------------------------------------------
# Play Section
--------------------------------------------------------------*/
#play h1, #play h4{
  text-align: right;
}

@media (max-width: 991px) {
  #play {
    height: calc(100vh - 72px);
  }
  #play .play-img {
    text-align: center;
  }
  #play .play-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #play h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #play h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #play .play-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #play .play-img img {
    width: 80%;
  }
}

@media (max-height: 600px) {
  #play {
    height: calc(120vh);
  }
}

/*--------------------------------------------------------------
# Learn Section
--------------------------------------------------------------*/
.img-card{
  width: auto;
  height: 225px;
}

.btn-primary-custom {
  color: #fff;
  background-color: #b10dfd;
  border-color: #fd0dfd;
}
.btn-primary-custom:hover {
  color: #fff;
  background-color: #d70bc6;
  border-color: #c40aca;
}

/*--------------------------------------------------------------
# Placeholder Section
--------------------------------------------------------------*/
#placeholder{
  background: #9e298f;
}