/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
font-family: 'Nanum Gothic', sans-serif;
color: #212529;
}

a {
color: #770e54;
text-decoration: none;
}

a:hover {
color: #ef4de7e5;
text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
font-family: 'Nanum Gothic', sans-serif;
}

*{
margin: 0;
}