/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Nanum Gothic', sans-serif;
  background: linear-gradient(#c69aec, #9ef8d1);
}
  
a {
  color: #770e54;
  text-decoration: none;
}

a:hover {
  color: #ef4de7e5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Nanum Gothic', sans-serif;
}

*{
  margin: 0;
}

.space {
  height: 10vh;
}

#back-btn {
  display: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
  background: linear-gradient(45deg, #f56fd8, #9505dd);
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar-brand-custom{
  font-size: 2.25em;
  color:#d85ac3ee;
  font-family: 'Comfortaa', cursive;
  font-family: 'Quicksand', sans-serif;
  
}

.navbar-light .nav-item .signin{
  background: linear-gradient(45deg, #5fdfa7, #24a06a);
  color: rgb(0,0,0);
  border-radius: 50em;
}

.navbar-light .nav-item .signin:hover {
  color: rgb(0,0,0);
  background: linear-gradient(45deg, #3cdd97, #0c9e5f);
}

.navbar-light .nav-item .signup{
  background: linear-gradient(45deg, #c69aec, #9e4ee4);
  color: rgb(0,0,0);
  border-radius: 50em;
}

.navbar-light .nav-item .signup:hover {
  color: rgb(0,0,0);
  background: linear-gradient(45deg, #c6a4e4, #aa67e4);
}

.navbar-shadow{
  box-shadow: 0vh 0vh 2vh rgba(0, 0, 0, 0.5);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  border-top: 2px solid white;
  background: linear-gradient(#9ef8d1, #c69aec);
}

.background {
  background: rgba(255,255,255,0.3);
}



/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/

#info_box{
  margin-top: 22vh;
  margin-bottom: 22vh;
  border-radius: 20px;
  background:rgba(225, 225, 225, 0.5);
  border: 2px solid white;
}

#info_box span {
  font-weight: bold;
}

#quiz_box{
  display: none;
  width: 100vw;
  border-radius: 20px;
  background:rgba(225, 225, 225, 0.5);
  border: 2px solid white;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.timer {
    text-align: center;
}

.timer span {
  font-weight: bold;
}

.seconds {
  background: white;
  border-radius: 50%;
}

.time_line{
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #9505dd;
}

.img-resize {
  width: 50vw;
  height: 50vh;
}

#que_text {
  text-align: center;
}

.option{
  background: white;
  border: 1px solid #9505dd;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover{
  background: #9505dd18;
}

.option.correct{
  background: #d4edda;
  border: 1px solid #23903c;
}

.option.incorrect{
  background: #f8d7da;
  border: 1px solid #a42834;
}

.option.disabled{
  pointer-events: none;
}

.icon{ /*to check*/
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}
.icon.tick{ /*to check*/
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.icon.cross{ /*to check*/
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}












#result_box{
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 20px;
  background:rgba(225, 225, 225, 0.5);
  border: 2px solid white;
  display: none;
}










/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  padding-top: 13px;
  padding-bottom: 13px;
  background: linear-gradient(45deg, #c69aec, #9ef8d1);
}







.radius {
  border-radius: 20px;
}

.my-btn {
  color: black;
  border: 2px solid white;
  background: linear-gradient(45deg, #cca7ec, #a277c7);
}

.my-btn:hover {
  background: linear-gradient(45deg, #83669c, #7b51a0);
  color: white;
}