/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #212529;
  background-color: #c69aec;
}

a {
  color: #770e54;
  text-decoration: none;
}

a:hover {
  color: #ef4de7e5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Nanum Gothic', sans-serif;
}

*{
  margin: 0;
}

.space {
  height: 9vh;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar-brand-custom{
  font-size: 2.25em;
  color:#d85ac3ee;
  font-family: 'Comfortaa', cursive;
  font-family: 'Quicksand', sans-serif;
  
}

.navbar-light .nav-item .signin{
  background: linear-gradient(45deg, #5fdfa7, #24a06a);
  color: rgb(0,0,0);
  border-radius: 50em;
}

.navbar-light .nav-item .signin:hover {
  color: rgb(0,0,0);
  background: linear-gradient(45deg, #3cdd97, #0c9e5f);
}

.navbar-light .nav-item .signup{
  background: linear-gradient(45deg, #c69aec, #9e4ee4);
  color: rgb(0,0,0);
  border-radius: 50em;
}

.navbar-light .nav-item .signup:hover {
  color: rgb(0,0,0);
  background: linear-gradient(45deg, #c6a4e4, #aa67e4);
}

.navbar-shadow{
  box-shadow: 0vh 0vh 2vh rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/
#hero, #learn, #footer{
  background: linear-gradient(#c69aec, #9ef8d1);
}

#play, #about-us{
  background: linear-gradient(#9ef8d1, #c69aec);
}

#hero, #play, #learn, #about-us{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-img{
  width: 550px;
}

@media (max-width: 991px) { 
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 500px;
  }
}

@media (max-width: 768px) {
  #hero .hero-img img {
    width: 450px;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 275px;
  }
}

/*--------------------------------------------------------------
# Play Section
--------------------------------------------------------------*/
#play h1, #play h4{
  text-align: right;
}

@media (max-width: 991px) {
  #play .play-img {
    text-align: center;
  }
  #play .play-img img {
    width: 500px;
  }
}

@media (max-width: 768px) {
  #play .play-img img {
    width: 450px;
  }
}

@media (max-width: 575px) {
  #play .play-img img {
    width: 275px;
  }
}

/*--------------------------------------------------------------
# Learn Section
--------------------------------------------------------------*/
.img-card{
  width: auto;
  height: 225px;
}

.btn-primary-custom {
  color: #fff;
  background-color: #b10dfd;
  border-color: #fd0dfd;
}
.btn-primary-custom:hover {
  color: #fff;
  background-color: #d70bc6;
  border-color: #c40aca;
}

/*--------------------------------------------------------------
# About-us Section
--------------------------------------------------------------*/
.circle-img {
  background: rgba(255,255,255,0.15);
  border: 2px solid white;
  align-self: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about-us-position {
  align-self: center;
}

@media (max-width: 991px) { 
  #about-us img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  #about-us img {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 575px) {
  #about-us img {
    width: 100px;
    height: 100px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
  background: linear-gradient(45deg, #c69aec, #9ef8d1);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  border-top: 2px solid white;
}

.background {
  background: rgba(255,255,255,0.3);
}